/*************************
About
**************************/

.about-section {
  margin: 3em auto;
  max-width: 800px;
}

.teacher-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
