/*************************
Gallery
**************************/

#gallery-buttons {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  max-width: 800px;
  margin: 1em auto;
  @media (min-width: $brk-md) {
    justify-content: center;
  }
}

.img-gallery {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
  overflow: hidden;
}

.thumbnail {
  position: static !important;
  margin: 0.2em;
  transition: transform .5s;
  &:hover {
    transform: scale(1.1);
    z-index: 2;
    color: inherit;
  }
  img {
    width: 340px;
    height: 260px;
    object-fit: cover;
  }
}

#gallery-overlay {
  z-index: 99;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  background: rgba(0,0,0,0.8);
  display: none;
  img {
    max-width: 95%;
    max-height: 95%;
  }
}

.close-gallery-overlay {
  position: absolute;
  font-size: 2em;
  top: 1em;
  right: 1em;
  &:hover {
    cursor: pointer;
  }
}
