/*************************
Homepage Styles
**************************/

.jumbotron {
  background: url(../img/banner.JPG) no-repeat center center;
  background-size: cover;
  font-size: 1.3rem;
  padding: 1em 0;
  h1 {

  }
  img {
    width: 160px;
  }
}

.jumbotron-title {
  @media (min-width: $brk-md) {
    display: flex;
    flex-flow: column nowrap;
    margin-right: auto;
    padding-top: 1.5em;
    padding-left: 2em;
    align-items: flex-start;
    & > * {
      margin: 0;
    }
  }
}

.jumbotron-blurb-container {
  @media (min-width: $brk-md) {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    justify-content: space-around;
  }
}

.jumbotron-blurb {
  max-width: 520px;
  margin: 1em auto 2em auto;
  font-size: 0.9em;
  border-radius: 4px;
  background-color: rgba(35, 82, 124, 0.8);
  @media (min-width: $brk-md) {
    margin: 1em 0 1em 1em;
  }
}

.exam-board-logos {
  img {
    width: 80px;
    height: 35px;
    display: inline-block;
    margin: 4px 8px;
  }
}

#intro {
  padding: 0;
}

.intro-section {
  padding: 2.5em 0.5em;
  background-color: #efefef;
  color: $text-dark;
  @media (min-width: $brk-md) {
    padding: 3em 1em;
  }
  .btn {
    display: inline-block;
    border-color: $text-dark;
    color: $text-dark;
  }
  .intro-blurb {
    text-align: center;
    max-width: 40em;
    margin: auto;
    font-weight: bold;
    p {
      text-align: justify;
      font-weight: bold;
    }
  }
}


.intro-section-2 {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
              url(../img/intro-img02.jpg) no-repeat center center;
  background-size: cover;
  color: $text-white;
  .btn {
    border-color: $text-white;
    color: $text-white;
  }
}
